body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
  }
  
  .caja2 {
    background-color: #3498db;
    color: #fff;  
    padding: 20px;
    border: 2px solid #2980b9;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .caja2 h1 {
    font-size: 24px;
  }
  
  .caja2 p {
    font-size: 18px;
  }
   

  